<html>
	<head>
		<title><%= title %></title>
  		<meta charset="utf-8">
 		<meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		  <link rel="stylesheet" href="style.css">
	</head>
	<body>
		<br>
		<div class="container">
			<br>
			<span class="h1"><%= title%></span>
			<br>
			<form action="/save-student" method="POST">
				<div class="form-group">
					<label for="name" class="h4">Name:</label>
					<input type="text" class="form-control" name = "name" placeholder="Enter name" required>
				</div>
				<div class="form-group">
					<label for="surname" class="h4">Surname:</label>
					<input type="text" class="form-control" name = "surname" placeholder="Enter name" required>
				</div>
				<div class="form-group">
					<label for="phone__num" class="h4">Phone number:</label>
					<input type="text" class="form-control" name = "phone__num" placeholder="Enter name" required>
				</div>
				<div class="form-group">
					<label for="surname" class="h4">Name of book:</label>
					<br>
					<select name="card__id" class="form-control">
						<option id="0"> Please choose taken book </option>
						<% students.map(item=> { %>
						 <option id="<%= item.id%>">  <%= item.card__id %> <%= item.staff__name %> <%= item.surname %> </option>
						<% }) %>
					<select>

				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</body>
</html>